---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/PageTitle.astro';
import { Chip } from '@nextui-org/react';

const isHomepage = Astro.props.slug === '';
---

{
  isHomepage ? (
    <div class="text-center">
      <h1>
        Is it <span class="text-white bg-success p-2 px-4 rounded-full mx-1 uppercase">convex</span>{' '}
        ?
      </h1>
    </div>
  ) : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}
