@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

ul[data-slot='listbox'] {
  padding-inline-start: 0;
}

.content-panel + .content-panel {
  border-top: none;
  padding-top: 0;
}

.experiments table {
  font-size: 14px;
}

.expressive-code {
  text-align: left;
}

ul {
  text-align: left;
}

:root,
::backdrop {
  --sl-color-bg: #000;
  --sl-color-bg-nav: var(--sl-color-bg);
  --sl-color-bg-sidebar: var(--sl-color-bg);
}

#_top {
  margin-top: 0;
}

.header {
  grid-template-columns: 50px 1fr auto !important;
}

.header button[aria-label='Search'] {
  max-width: 140px;
}

header {
  border-bottom-width: 0px !important;
}

.content-panel:first-of-type {
  padding-top: 16px !important;
}

.sidebar button {
  box-shadow: none !important;
  --sl-menu-button-size: 2.5em !important;
}

.sidebar button svg {
  width: 1.5em !important;
  height: 1.5em !important;
}

#starlight__sidebar {
  border-right-width: 0 !important;
}
.right-sidebar {
  border-left-width: 0 !important;
}
#starlight__on-this-page--mobile {
  border-bottom-width: 0 !important;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-bg: #fff;
  --sl-color-bg-nav: var(--sl-color-bg);

  .main-input,
  .variable-select-trigger {
    background-color: white;
  }
}

.MathJax svg {
  display: inline !important;
}
