.tenvexityCodeHighlight :global(.hljs) {
  color: #24292e;
  background: #ffffff;
}

.tenvexityCodeHighlight :global(.hljs-string) {
  /* color: #032f62; */
  /* color: #b31d28; */
  color: #22863a;
}

.tenvexityCodeHighlight :global(.hljs-keyword) {
  color: green;
}

.tenvexityCodeHighlight :global(.hljs-einsumExpression) {
  color: #e36209;
}

.tenvexityCodeHighlight :global(.hljs-built_in) {
  color: #6f42c1;
}

.tenvexityCodeHighlight :global(.hljs-variable) {
  color: #005cc5;
}

.hljs-comment,
.hljs-code,
.tenvexityCodeHighlight :global(.hljs-formula) {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.tenvexityCodeHighlight :global(.hljs-selector-pseudo) {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.tenvexityCodeHighlight :global(.hljs-subst) {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.tenvexityCodeHighlight :global(.hljs-section) {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.tenvexityCodeHighlight :global(.hljs-bullet) {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.tenvexityCodeHighlight :global(.hljs-emphasis) {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.tenvexityCodeHighlight :global(.hljs-strong) {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.tenvexityCodeHighlight :global(.hljs-addition) {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.tenvexityCodeHighlight :global(.hljs-deletion) {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}
